#root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  color: #ffff;
  text-align: left;
}

body {
  background-color: #1b0d24;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 15px;
  gap: 5px;
}

.header>div:not(.search-filter, .title),
.searchbar {
  border: 1px solid;
  border-radius: 10px;
  padding: 8px;
}

.title h3,
.title h6 {
  margin: 0;
  padding: 0;
}

.search-filter {
    display: flex;
    flex-grow: 5;
    padding: 8px;
  }

.searchbar {
  flex-grow: 4;
}

.addEmployeeBtn {
  padding: 8px;
  border-radius: 30px;
  color: #ffff;
  background-color: #5a0389;
}

.filter .addEmployeeBtn {
  flex-grow: 0;
  padding: 8px;
}

/* Employee list */

.employeeList {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
}

.employee {
  display: flex;
  background: #463d4b;
  border-radius: 5px;
  padding: 8px;
}

.employeeIndex {
  flex-grow: 1;
  padding: 10px;
  border: 1px;
  border-radius: 20px;
  border-color: rgb(77, 5, 77);
  color: rgb(77, 5, 77);
}

.employeeFirstName,
.employeeLastName,
.employeeContacts {
  flex-grow: 2;
  align-content: flex-start;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  background-color: #3a3b3c;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.employee-form {
  position: fixed;
  top: 10%;
  /* Adjust this value to control the vertical position */
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  border-radius: 10px;
  z-index: 9999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.form-title{
  padding: 0;
  margin: 0;
}


.section-title {
  margin: 5px;
  color: #6a257e;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.skills-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.skills{
  flex: 30%
}
.years{
  flex: 30%
}
.seniority{
  flex: 30%
}
.bin{
  flex: 5%
}