#root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  color: #ffff;
  text-align: left;
}

body {
  background-color: #0d0115;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 15px;
  gap: 5px;
}

.header>div:not(.search-filter, .title),
.searchbar {
  border: 1px solid;
  border-radius: 10px;
  padding: 8px;
}

.title h3,
.title h6 {
  margin: 0;
  padding: 0;
}

.search-filter {
    display: flex;
    flex-grow: 5;
    padding: 8px;
    gap: 5px;
  }

.searchbar {
  flex-grow: 4;
}

.addEmployeeBtn {
  padding: 8px;
  border-radius: 30px;
  color: #ffff;
  background-color: #5a0389;
}

.filter .addEmployeeBtn {
  flex-grow: 0;
  padding: 8px;
}

/* Employee list */

.employeeList {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
}

.employee {
  display: flex;
  background: #615a65;
  border-radius: 5px;
  padding: 8px;
}
.employeeFirstName,
.employeeLastName,
.employeeContacts,
.employeeIndex {
  flex-grow: 1;
  padding: 10px;
}


.employeeIndex {
  border-radius: 20px;
  border-color: rgb(77, 5, 77);
  color: rgb(134, 23, 134);
}

/* No employees */
.no-employees {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.no-employees >h5 {
  margin: 0;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  background-color: #282038;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  font-size: small;
}

.employee-form {
  position: fixed;
  top: 10%;
  /* Adjust this value to control the vertical position */
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  border-radius: 10px;
  z-index: 9999;
}

.form-title{
  padding: 0;
  margin: 0;
}


.section-title {
  margin-bottom: 5px;
  color: #9541ac;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.usr-Names{
  display: flex;
}

.first-name{
  display: flex;
  flex-shrink: 3;
}

.last-name{
  display: flex;
}

.skills-row {
  display: flex;
  gap: 2px;
}

.skills{
  display: flex;
  flex-grow: 2;
}
.years{
  display: flex;
  flex-grow: 1;
}
.seniority{
  display: flex;
  flex-grow: 3
}
.bin{
  display: flex;
  flex-grow: 1
}

.form-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
}

.saveBtn{
  align-content: flex-end;
}